body {
color:#40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color:#66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.5rem;
  margin-top: 0;


  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  margin-top: 0;

  font-family: 'Montserrat', sans-serif;
}

hr{
border-top: dotted;
border-bottom: none;
border-left: none;
border-right:none;
margin-left: 46%;
margin-right:46%;
border-width: 8px;
margin-top:60px;
margin-bottom: 60px;
color:#EAF6F6;



}

p {
  line-height: 3;

}

/***************************class STYLES*************************/
.top-container {
  background-color: #EAF6F6;

  position: relative;
  padding-top: 100px;
  margin: 0;
}

.middle-container {

  margin:0;
  padding:10%;

}

.bottom-container {
  background-color: #66BFBF;
  color: #11999E;
  margin:0;
  padding: 80px;
}
.footer-link{
margin:0;
padding:40px;
color: #11999E;
font-size: 1.5em;

}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.underlined {
  text-decoration: underline;
  line-height: 2;
}
.intro{
  margin:auto;
  width: 40%;



}

.profile_pic {
  margin-bottom: 30px;
  border-radius: 250px;
}

.pic1 {
  float: left;
  border-radius: 50%;
  width: 25%;
  margin-right: 30px;

}
.pic2{
  float: right;
  border-radius: 50%;
  width: 25%;
  margin-left: 30px;
}

.skills{
}

.skill-row{
  margin: 100px auto 100px auto;
  width:50%;
  text-align: left;

}
.contact-me{
  margin:0;
  top-padding:10%;
  padding-bottom: 10%;
}

.CONTACT_ME_BUTTON {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.CONTACT_ME_BUTTON:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright_2018{
  margin:0;
  padding-top:60px;
  padding-bottom: 5px;
  color: #EAF6F6;
}


/*************************id STYLES****************************/
